<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AutoMigrateEPiServer" value="true" />
    <add key="episerver:UpdateDatabaseSchema" value="true" />
    <add key="episerver:tracking.Enabled" value="false" />
    <add key="episerver:ui:PreviewTimeout" value="40000" />
  </appSettings>	
</configuration>