@model EmptySite.Models.Blocks.TeaserBlock

<h2>
    @Html.PropertyFor(x => x.Heading)
</h2>

<img src="@Url.ContentUrl(Model.Image)" width="400" />

<div>
    @Html.ContentLink(Model.Link)
</div>
